<!-- <p>moto-tabla works!</p> -->
<table class="table table-hover">
  <thead>
  <tr>
      <th>#</th>
      <th>Patente</th>
      <th>Color</th>
      <th>Número de Chasis</th>
      <th>Velocidad Máxima</th>
      <th></th>
  </tr>
</thead>
  <tbody>
      <!--Taba que permite desplegar el arreglo de paises-->
      <tr *ngFor="let moto of motos_entrada;let i=index"
      class="animate__animated animate__fadeIn animate__faster"
      >
          <td>{{i+1}}</td>
          <!--Imagen del pais-->
          <td>{{moto.patente}} </td>
          <td [bgColor]=""> {{moto.color}} </td>
          <td>{{moto.nro_Chasis}}</td>
          <td>{{moto.max_speed | number}}</td>
      </tr>
  </tbody>
</table>
