<!-- <p>por-moto works!</p> -->
<h2>Listar Bancos</h2>
<hr>
<div class="row">
    <div class="col">
    </div>
</div>

  <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Dirección</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Sucursales</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let banco of listadoBancos;let i=index">
             <td>{{i+1}}</td>
              <td>{{ banco.nombre }}</td>
              <td>{{ banco.direccion }}</td>
              <td>{{ banco.telefono }}</td>
              <td>
                  <button class="btn btn-primary" (click)="openModalVerSucursales(verSucursales, banco.sucursales)"> Sucursales </button>
              </td>
          </tr>
      </tbody>
  </table>

<ng-template #verSucursales>
  <app-modal-sucursales [listadoSucursales]="listadoSucursales"></app-modal-sucursales>
</ng-template>
