<!-- <p>banco-tabla works!</p> -->

<table class="table table-hover">
  <thead>
  <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Teléfono</th>
      <th>Sucursales</th>
      <th></th>
  </tr>
</thead>
  <tbody>
      <!--Taba que permite desplegar el arreglo de paises-->
      <tr *ngFor="let banco of bancos_entrada;let i=index"
      class="animate__animated animate__fadeIn animate__faster"
      >
          <td>{{i+1}}</td>
          <!--Imagen del pais-->
          <td>{{banco.nombre}} </td>
          <td>{{banco.direccion}} </td>
          <td>{{banco.telefono| number}}</td>
          <td>
              <button class="btn btn-primary" (click)="irSucursales()">Ir Sucursales</button></td>
      </tr>
  </tbody>
</table>
