<!-- <p>por-pokemon works!</p> -->

<h2>Listar Pokemon</h2>
<hr>
<div class="row">
    <div class="col">

      <app-pokemon-input
        (onEnter)="getPokemon( $event )"
        placeHolderVar="Buscar Pokemon por ID"
        ></app-pokemon-input>
    </div>
</div>

<hr>

<table class="table table-hover">
  <thead>
  <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Tipo</th>
  </tr>
</thead>
  <tbody>
      <!--Taba que permite desplegar el arreglo de paises-->
      <tr class="animate__animated animate__fadeIn animate__faster">
          <td>{{ pokemon.id | number: '3.' }} <img src="{{pokemonImg}}" class="small-flag"><img src="{{pokemonImgReverse}}" class="small-flag"></td>
          <!--Imagen del pais-->
          <td>{{pokemon.name}}</td>
          <td>{{pokemonType}}</td>
      </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-4 col-md-6">
      <div class="card">
          <img [src]="'assets/images/'+ pokemon.id +'.png'" class="card-img-top" [alt]=""/>
          </div>
      </div>
  </div>
