<!-- <p>pokemon-tabla works!</p> -->
<table class="table table-hover">
  <thead>
  <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Tipo</th>
  </tr>
</thead>
  <tbody>
      <!--Taba que permite desplegar el arreglo de paises-->
      <tr *ngFor="let pokemon of pokemon_entrada;let i=index"
      class="animate__animated animate__fadeIn animate__faster"
      >
          <td>{{ pokemon.id | number: '3.' }} <img [src]="" alt="" class="small-flag"></td>
          <!--Imagen del pais-->
          <td>{{pokemon.name.english}}</td>
          <td>{{pokemon.type}}</td>

      </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-4 col-md-6"
  *ngFor="let pokemon of pokemon_entrada"
  >
      <div class="card">
          <!-- <pre>assets/images/{{ pokemon.id | number: '3.' }}.png</pre> -->
          <img [src]="'assets/images/'+ pokemon.id +'.png'" class="card-img-top"/>
          </div>
      </div>
  </div>
