<!-- <p>sidebar-listar works!</p> -->
<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li routerLink="listar-moto"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="list-group-item active">Listar Motos</li>

    <li routerLink="listar-bancos"
       routerLinkActive="active"
       class="list-group-item">Listar Bancos</li>

    <li routerLink="listar-pokemon"
       routerLinkActive="active"
       class="list-group-item">Listar Pokemon</li>

</ul>
